<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzit</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #fdfffb;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<div class="centered-content">
    <div class="text-container">
        <div class="centered-text">
            <p class="very-bold-text">How to model success factors of your IT-Project. Do it together with Fuzzit.</p>
        </div>
    </div>
</div>
<div class="header">
    <a href="{% url 'about' %}" class="button">About</a>
    <button class="button" onclick="window.location.href='https://github.com/NikPeg/modeling_perception_success_factors'">GitHub</button>
    <button class="button" onclick="window.location.href='https://t.me/nikpeg'">Contacts</button>
    <button class="button" onclick="showLoginPopup()">Log in</button>
    <button class="big-button">Get started</button>
</div>
<div class="login-popup" id="loginPopup">
    <h2>Login</h2>
    <form action="#" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
    <button onclick="hideLoginPopup()">Close</button>
</div>
<a href="{% url 'home' %}">
    <img src="{% static 'images/fuzzit.png' %}" alt="Fuzzit Logo" class="centered-image">
</a>
<hr class="line">
<script src="{% static 'script.js' %}"></script>
</body>
</html>
