<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzit Project</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #e8eeea;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="header">
</div>

<div class="buttons-container">
    <button title="Add new factor"><img src="{% static 'images/factor.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 15px; left: 15px;"></button>
    <button title="Add new relationship"><img src="{% static 'images/arrow.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 70px; left: 15px;"></button>
    <button title="Add new relationship"><img src="{% static 'images/scissors.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 125px; left: 15px;"></button>
</div>

<div class="upper-container">
    <img src="{% static 'images/logo.png' %}" alt="Project Logo" class="centered-image account-logo" style="display: inline; width: 140px; height: 60px; position: fixed; top: -5px;">
    <label class="top-left-label" style="display: inline-block; position : absolute; top:17px; left:160px; font-family: 'Roboto', sans-serif;">{{name}}</label>
    <div class="sandwich-button" style="display: inline-block; position: absolute; top: 17px; right: 10px;">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<div class="right-container">
    <input type="number" class="input-field" id="StepsInput" placeholder="Steps number">
    <button class="pause-button" onclick="pause()">II</button>
    <button class="play-button" onclick="showCreatePopup()">▶</button>
</div>

<div class="background-overlay" id="backgroundOverlay"></div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>