<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzit Projects</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #fdfffb;
        }
        .project {
            width: 270px;
            height: 100px;
            background-color: #f0f0f0;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            line-height: 100px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            font-family: 'Roboto', sans-serif;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="left-header">
    <img src="{% static 'images/login.png' %}" alt="Login Logo" class="centered-image account-logo" style="display: inline">
    <label class="top-left-label" style="display: inline-block; position : absolute; top:30px; left:100px; font-family: 'Roboto', sans-serif;">{{username}}</label>
</div>

<div class="header">
    <button class="button" onclick="showCreatePopup()">Import</button>
    <button class="big-button" onclick="showCreatePopup()">Create</button>
</div>

<div class="templates-container">
    <p class="very-bold-text" style="margin-left: 10px;">Popular templates:</p>
    <div class="project">📲Mobile app</div>
    <div class="project">💻Web site</div>
    <div class="project">🔀DevOps</div>
    <div class="project">🧠AI project</div>
    <div class="project">All templates→</div>
</div>

<div class="recent-projects-container">
    <p class="very-bold-text" style="margin-left: 10px;">My projects:</p>
    <div class="project">VR SDK</div>
    <div class="project">MyFitnessPal</div>
    <div class="project">Zoho CRM</div>
    <div class="project">Code Review Tool</div>
    <div class="project">All projects→</div>
</div>

<div class="public-projects-container">
    <p class="very-bold-text" style="margin-left: 10px;">Public projects:</p>
    <div class="project">Blockchain SCMS</div>
    <div class="project">AI Dashboard</div>
    <div class="project">IoT Home System</div>
    <div class="project">AI Healthcare</div>
    <div class="project">All projects→</div>
</div>

<div class="background-overlay" id="backgroundOverlay"></div>
<div class="login-popup" id="createPopup">
    <button class="close-btn" onclick="hideCreatePopup()">✖</button>
    <h2 style="margin-bottom: 0">Create project</h2>
    <form action="{% url 'create' %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}

        <label for="projectName"> </label><br>
        <input style="display: inline-block" type="text" id="projectName" name="projectName" placeholder="Project name" required><br>

        <label id="privacyLabel" style="text-align: center;">Choose privacy:</label>

        <input style="display: inline; width: 15px" type="radio" id="private" name="projectType" value="private" required>
        <label for="private" style="display: inline-block">Private</label><br>

        <input type="radio" id="public" name="projectType" value="public" required style="display: inline; width: 15px">
        <label for="public" style="display: inline-block">Public</label><br>

        <label id="fuzzyLabel" style="text-align: center;">Choose type of fuzzy sets:</label>

        <input style="display: inline; width: 15px" type="radio" id="first" name="setsType" value="first" required>
        <label for="first" style="display: inline-block">First</label><br>

        <input type="radio" id="second" name="setsType" value="second" required style="display: inline; width: 15px">
        <label for="second" style="display: inline-block">Second</label><br>

        <input type="radio" id="intuitionistic" name="setsType" value="intuitionistic" required style="display: inline; width: 15px">
        <label for="intuitionistic" style="display: inline-block">Intuitionistic</label><br>

        <button class="register-button" type="submit">Create</button>
    </form>
</div>
<div class="full-width-rectangle"></div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>