<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #e8eeea;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>

<div class="header">
</div>

<div class="buttons-container">
    <button title="Add new factor" onclick="showFactorPopup()"><img src="{% static 'images/factor.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 15px; left: 15px;"></button>
    <button title="Add new link" onclick="showLinkPopup()"><img src="{% static 'images/arrow.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 70px; left: 15px;"></button>
    <button title="Delete anything" onclick="delete_entity()"><img src="{% static 'images/scissors.png' %}" style="display: inline; width: 40px; height: 40px; position: absolute; top: 125px; left: 15px;"></button>
</div>

<div class="upper-container">
    <img src="{% static 'images/logo.png' %}" alt="Project Logo" class="project-logo">
    <label class="top-left-label" style="display: inline-block; position : absolute; top:17px; left:160px; font-family: 'Roboto', sans-serif;">{{name}}</label>
    <div class="sandwich-button" style="display: inline-block; position: absolute; top: 21px; right: 10px;" onclick="sandwich()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<div class="right-container">
    <input type="number" class="input-field" id="StepsInput" placeholder="Number of steps">
    <button class="pause-button" onclick="pause()">II</button>
    <button class="play-button" onclick="play()">▶</button>
</div>

<div class="sandwich-container" id="sandwich">
    <button class="button" onclick="save_project()">Save</button>
    <button class="button" onclick="export_project()">Export</button>
</div>

<div class="background-overlay" id="projectBackgroundOverlay"></div>
<div class="login-popup" id="factorPopup">
    <button class="close-btn" onclick="hideFactorPopup()">✖</button>
    <h2 style="margin-bottom: 0">Add factor</h2>
    <form action="{% url 'factor' username=username project_name=name%}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}

        <label for="factorName"> </label><br>
        <input style="display: inline-block" type="text" id="factorName" name="factorName" placeholder="Factor name" required><br>

        <label for="factorValue"> </label>
        <input style="display: inline-block" type="number" step="0.01" id="factorValue" name="factorValue" placeholder="Factor value" required><br>

        <label for="threshold"> </label>
        <input style="display: inline-block" type="number" step="0.01" id="threshold" name="threshold" placeholder="Threshold" required><br>

        <label id="activationLabel" style="text-align: center;">Activation function:</label>

        <input style="display: inline; width: 15px" type="radio" id="triangular" name="activationType" value="private" required>
        <label for="triangular" style="display: inline-block">Triangular</label><br>

        <input type="radio" id="gaussian" name="activationType" value="public" required style="display: inline; width: 15px">
        <label for="gaussian" style="display: inline-block">Gaussian</label><br>

        <input type="radio" id="public" name="activationType" value="trapezoidal" required style="display: inline; width: 15px">
        <label for="public" style="display: inline-block">Trapezoidal</label><br>
        <br>

        <button class="register-button" type="submit">Add</button>
    </form>
</div>

<div class="login-popup" id="linkPopup">
    <button class="close-btn" onclick="hideLinkPopup()">✖</button>
    <h2 style="margin-bottom: 0">Add link</h2>
    <form action="{% url 'link' username=username project_name=name%}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}

        <label for="linkName"> </label><br>
        <input style="display: inline-block" type="text" id="linkName" name="linkName" placeholder="Link name" required><br>

        <label for="weightValue"> </label>
        <input style="display: inline-block" type="number" step="0.01" id="weightValue" name="weightValue" placeholder="Weight" required><br>

        <label for="uncertaintyValue"> </label>
        <input style="display: inline-block" type="number" step="0.01" id="uncertaintyValue" name="uncertaintyValue" placeholder="Uncertainty" required><br>

        <label for="sourceFactor">Choose source factor:</label>
        <select name="sourceFactor" id="sourceFactor">
            {% for factor in factors %}
            <option value="{{ factor | safe }}">{{ factor }}</option>
            {% endfor %}
        </select>

        <label for="targetFactor">Choose target factor:</label>
        <select name="targetFactor" id="targetFactor">
            {% for factor in factors %}
            <option value="{{ factor | safe }}">{{ factor }}</option>
            {% endfor %}
        </select>

        <br>
        <br>

        <button class="register-button" type="submit">Add</button>
    </form>
</div>

<div class="background-overlay" id="backgroundOverlay"></div>
<script src="{% static 'script.js' %}"></script>
<script>
    var factorsArray = {{ factors | safe }};
    var suits = {{ links | safe }};
</script>
<script src="{% static 'd3.js' %}"></script>
</body>
</html>