<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzit Projects</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #fdfffb;
        }
        .project {
            width: 270px;
            height: 100px;
            background-color: #f0f0f0;
            margin: 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            line-height: 100px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            font-family: 'Roboto', sans-serif;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

<div class="left-header">
    <img src="{% static 'images/login.png' %}" alt="Login Logo" class="centered-image account-logo" style="display: inline">
    <label class="top-left-label" style="display: inline-block; position : absolute; top:30px; left:100px; font-family: 'Roboto', sans-serif;">{{username}}</label>
</div>

<div class="header">
    <button class="button" onclick="showLoginPopup()">Import</button>
    <button class="big-button" onclick="showRegisterPopup()">Create</button>
</div>

<div class="templates-container">
    <p class="very-bold-text" style="margin-left: 10px;">Popular templates:</p>
    <div class="project">📲Mobile app</div>
    <div class="project">💻Web site</div>
    <div class="project">🔀DevOps</div>
    <div class="project">🧠AI project</div>
    <div class="project">All templates→</div>
</div>

<div class="recent-projects-container">
    <p class="very-bold-text" style="margin-left: 10px;">My projects:</p>
    <div class="project">VR SDK</div>
    <div class="project">MyFitnessPal</div>
    <div class="project">Zoho CRM</div>
    <div class="project">Code Review Tool</div>
    <div class="project">All projects→</div>
</div>

<div class="public-projects-container">
    <p class="very-bold-text" style="margin-left: 10px;">Public projects:</p>
    <div class="project">Blockchain SCMS</div>
    <div class="project">AI Dashboard</div>
    <div class="project">IoT Home System</div>
    <div class="project">AI Healthcare</div>
    <div class="project">All projects→</div>
</div>

<div class="background-overlay" id="backgroundOverlay"></div>
<div class="login-popup" id="loginPopup">
    <button class="close-btn" onclick="hideLoginPopup()">✖</button>
    <h2>Log in to Fuzzit</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="email" style="display: none;"></label><br>
        <input type="email" id="email" name="email" placeholder="Email" required><br>
        <label for="password" style="display: none;">:</label><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">Continue</button>
    </form>
    <h2></h2>
    <a href="{% url 'about' %}" class="login-button">Reset password</a>
    <p>No account? <a href="{% url 'about' %}" class="login-button">Create one</a></p>
</div>
<div class="login-popup" id="registerPopup">
    <button class="close-btn" onclick="hideRegisterPopup()">✖</button>
    <h2>Sign up to Fuzzit</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="registerEmail" style="display: none;"></label><br>
        <input type="email" id="registerEmail" name="email" placeholder="Email" required><br>
        <label for="registerPassword" style="display: none;"></label><br>
        <input type="password" id="registerPassword" name="password" placeholder="Password" required><br>
        <label for="repeatPassword" style="display: none;"></label><br>
        <input type="password" id="repeatPassword" name="password" placeholder="Repeat password" required><br><br>
        <button class="register-button" type="submit">Create account</button>
    </form>
</div>
<div class="full-width-rectangle"></div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>